# dependencies
/**/node_modules
yarn-error.log
npm-debug.log

# IDE
/.idea
/.awcache
/.vscode

# misc
.DS_Store
lerna-debug.log
.npmrc
.nvmrc

# tests
/coverage
/.nyc_output
/integration/crud-prisma/package-lock.json
/integration/crud-prisma/prisma/**/*.db

# dist
packages/**/lib
packages/**/tsconfig.tsbuildinfo
.mrepo
